@import '../sass-modules/breakpoints';

.headerImageContainer {
  text-align: center;
  width: 170%;

  position: relative;
  transform: translateX(-20.6%);

  @media screen and (min-width: $break-sidenav) {
    width: 70%;
    position: absolute;
    top: 15rem;
    right: -8rem;
    transform: translate(0);
  }

  @media screen and (min-width: $break-xlarge) {
    width: 90%;
    top: 8rem;
    right: -17rem;
  }
}

// modifiers
.headerImageContainer_width_half {
  @media screen and (min-width: $break-sidenav) {
    width: 50%;
  }
}
.headerImageContainer_width_third {
  @media screen and (min-width: $break-sidenav) {
  }
}

/* images --- */
.headerImageContainer__image1 {
  width: 60%;
  max-width: 33.75rem;

  @media screen and (min-width: $break-sidenav) {
    transform: translate(3rem, 25%);
  }

  @media screen and (min-width: $break-xlarge) {
    max-width: initial;
    transform: translate(5.7rem, 22%);
  }
}
.headerImageContainer__image2 {
  width: 40%;
  max-width: 22.5rem;

  @media screen and (min-width: $break-xlarge) {
    max-width: initial;
  }
}

/* Laptop --- */
.headerImageContainer__laptop {
  max-width: 100%;

  @media screen and (min-width: $break-xlarge) {
    width: 115%;
    max-width: initial;

    position: absolute;
    top: -2rem;
    left: 0;

    vertical-align: top;
  }
}