$break-sidenav: 55.5rem;
$break-sidenav-med: 25rem;
$break-sidenav-large: 31.25rem;
$break-large: 65rem;
$break-xlarge: 75.125rem;
$break-countries: 28.5625rem;
$break-footer: 34.375em;
$break-jumbotron: 36.25rem;
$break-modal-med: 43.375rem;
$break-modal-large: 69.875rem;
$break-about: 56.625rem;
$break-service: 69.25rem;
$break-service-large: 72.7rem;
$break-service-xlarge: 82.75rem;
$break-dashboard: 70rem;

