@import '../../../sass-modules/breakpoints';

/* phone --- */
.controlPanel__phone {
  width: 40%;

  @media screen and (min-width: $break-service) {
    position: absolute;
    right: 17rem;
    top: 15rem;
    width: 23rem;
  }
}

/* tablet --- */
.controlPanel__tablet {
  width: 60%;

  @media screen and (min-width: $break-service) {
    position: absolute;
    right: -15rem;
    width: 38rem;
  }
}

/* badge --- */
.controlPanel__badge {
  width: 6.5rem;
}

.controlPanel__badge:nth-of-type(3) {
  position: absolute;
  top: -5%;
  left: 30%;

  @media screen and (min-width: $break-service) {
    top: 35rem;
    left: 17rem;
  }
}

.controlPanel__badge:nth-of-type(4) {
  position: absolute;
  bottom: -8%;
  right: 10%;

  @media screen and (min-width: $break-service) {
    top: 31rem;
    left: -12rem;
  }
}

.controlPanel__badge:nth-of-type(5) {
  position: absolute;
  bottom: -5%;
  left: 10%;

  @media screen and (min-width: $break-service) {
    top: 10rem;
    left: 0rem;
  }
}