@import '../../../sass-modules/breakpoints';

/* badges --- */
.serviceImageContainer__badge {
  width: 13rem;
  position: absolute;
}

.serviceImageContainer__badge:nth-of-type(2) {
  top: 25%;
  right: -7%;
}

.serviceImageContainer__badge:nth-of-type(3) {
  top: 50%;
  right: -2%;
}