.mainContent__ServiceSection {
  margin: 4rem 0;
}

/* title --- */
.serviceSection__title {
  position: absolute;
  left: -100rem;
}

/* service item --- */
.serviceList__item {
  margin-bottom: 4rem;

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}