@import '../../../sass-modules/colors';
@import '../../../sass-modules/breakpoints';

.service {
  position: relative;
}

/* service image --- */
.serviceImageContainer {
  max-width: 32.25rem;
  margin: 0 auto 2rem;

  position: relative;

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

// modifiers
.serviceImageContainer_width_half {
  @media screen and (min-width: $break-service) {
    width: 60%;
  }
}
.serviceImageContainer_float_right {
  @media screen and (min-width: $break-service) {
    float: right;
  }
}
.serviceImageContainer_float_left {
  @media screen and (min-width: $break-service) {
    float: left;
  }
}
.serviceImageContainer_fixed {
  margin-right: -2rem; 

  @media screen and (min-width: $break-large) {
    width: 30%;
    position: absolute;
    right: calc((-100vw + 65rem) / 2);
  }

  @media screen and (min-width: $break-service-large) {
    width: 40%;
  }

  @media screen and (min-width: $break-service-xlarge) {
    width: 50%;
  }
}
.serviceImageContainer_fixed_left {
  margin-left: -2rem; 

  @media screen and (min-width: $break-dashboard) {
    width: 64%;
    max-width: initial;
    position: absolute;
    left: calc((-100vw + 65rem) / 2);
  }

  @media screen and (min-width: $break-service-xlarge) {
    width: 70%;
  }
}

/* service content --- */
.service__content {
  max-width: 34rem;
  margin: 0 auto;
}

// modifiers
.service__content_align_center {
  @media screen and (min-width: $break-large) {
    text-align: center;
    width: 40%;
  }
}
.service__content_move_up {
  margin-top: -6rem;
}
.service__content_width_half {
  @media screen and (min-width: $break-service) {
    width: 40%;
  }
}
.service__content_float_left {
  @media screen and (min-width: $break-service) {
    float: left;
  }
}
.service__content_float_right {
  @media screen and (min-width: $break-service) {
    float: right;
  }
}

/* title --- */
.service__title {
  position: absolute;
  left: -100rem;
}

/* paragraph --- */
.service__paragraph:nth-of-type(2) {
  margin: 0;
}

/* step --- */
.step {
  color: $light-grey;
}

.stepList__step {
  margin: 1.5rem 0;
}

/* dot icon --- */
.step__icon {
  display: inline-block;
  width: .5rem;
  margin-right: 1rem;
}

/* step explanation --- */
.step__explanation {
  vertical-align: middle;
}

/* button --- */
.service__button:first-of-type {
  margin-right: 1.5rem;
}