@import '../../../sass-modules/breakpoints';
@import '../../../sass-modules/colors';

.serviceSection {
  &::before {
    content: '';
    position: absolute;
    top: 88rem;
    right: 0;
    z-index: -1;
    width: 180%;
    height: 35rem;
    background-color: $ribbon;
  
    transform-origin: 100% 0;
    transform: rotate(-24deg);
  }
}

.mainContent__serviceSection {
  margin: 4rem 0;
}

/* title --- */
.serviceSection__title {
  position: absolute;
  left: -100rem;
}

/* service item --- */
.serviceList__item {
  margin-bottom: 4rem;

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.serviceList__item:nth-of-type(2) {
  margin-bottom: 20rem;
}

.serviceList__item:nth-of-type(3) {
  @media screen and (min-width: $break-service) {
    margin-bottom: 15rem;
  }
}


.serviceList__item:nth-of-type(4) {
  @media screen and (min-width: $break-service) {
    margin-bottom: 16rem;
  }
}