@import '../../../sass-modules/breakpoints';

.navboxStyles {
  .serviceImageContainer__image {
    @media screen and (min-width: $break-service) {
      position: absolute;
      right: 0;
      max-width: initial;
      width: 130%;
    }
  }
}

